# Pliki generowane przez CMake
build/

# Pliki wykonywalne (jeśli nie są w build/)
folders-lock.exe # Zmieniono nazwę
folders-lock     # Zmieniono nazwę
FoldersLock.exe # Usunięto starą nazwę
FoldersLock     # Usunięto starą nazwę

# Pliki obiektowe i biblioteki
*.o
*.obj
*.lib
*.dll
*.so
*.dylib

# Pliki generowane przez IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vcxproj*

# Logi i pliki tymczasowe
*.log
*.tmp
*.temp

# Specyficzne dla systemu macOS
.DS_Store
